#services-container {
    display: grid;
    grid-template-columns: auto auto;
}

#service-container>.service-card {
    height: 100%;
    grid-row: span 1;
}

.service-card.open {
    grid-row: span 2;
}

.service-card {
    display: grid;
    height: 100%;
    padding: 10px;
    border: solid lime 1px;
    grid-template-columns: 1fr 2fr;
}

.service-card>.service-img {
    grid-area: 1/1/2/2;
    max-width: 100%;
}

.service-card>.service-title {
    grid-area: 1/2/2/3;
}

.service-card>.service-description {
    grid-area: 2/1/3/3;
    display: none;
}

.service-card.open>.service-description {
    display: initial;
}