.services-container {
    grid-template-columns: auto auto;
}

.services-container>.service-el {
    margin: 10px;
}

.service-card {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

.service-card>.service-img {
    grid-area: 1/1/3/2;
    width: 100%;
    height: 100%;
}

.service-card>.service-title {
    grid-area: 1/1/2/2;
}

.service-card>.service-description {
    grid-area: 2/1/3/2;
}