#services-container {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
}

#services-container>.service-card:nth-child(odd) {
    grid-column: 1/2;
    grid-template-columns: 2fr 7fr;
    grid-template-areas: 'img title';
}

#services-container>.service-card:nth-child(even) {
    grid-column: 2/3;
    grid-template-columns: 7fr 2fr;
    grid-template-areas: 'title img';
}

#services-container>.service-card.open {
    grid-template-rows: 6em;
    align-content: start;
}