:root {
    /*
    --bkg-color: rgb(195, 217, 181);
    --cnt-box-color: white;
    --txt-block-color: rgb(225, 236, 218);
    --txt-color: rgb(23, 59, 80);
    */
    /*red;*/
    --c0: white;
    --c1: rgb(225, 236, 218);
    --c2: rgb(195, 217, 181);
    --c3: rgb(195, 217, 181);
    /*--c3: rgb(165, 196, 140);*/
    --c4: rgb(50, 85, 30);
    /*Transision time*/
    --transition-time: 200ms;
}