body,
div,
span,
img,
section,
nav,
header,
footer,
ul,
li,
a,
h1,
h2,
h3,
h4,
p {
    position: relative;
    display: grid;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*border-radius: .5em;*/
    color: var(--c4);
    text-decoration: none;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
}