.txt-block {
    text-align: justify;
    padding: 1em;
}

.txt-block.title {
    text-align: center;
}


/* card */

.card-container {
    grid-auto-flow: row;
    gap: 1em;
}

.card {
    padding: 1em;
    grid-template-columns: auto 1fr;
    row-gap: 0;
    transition: row-gap var(--transition-time);
    color: var(--c0);
    background-color: var(--c3);
    cursor: pointer;
}

.card.open {
    row-gap: 1em;
}

.card>.card-img {
    grid-area: 1/1/2/2;
    max-width: 8em;
}

.card>.title {
    padding: 0;
    grid-area: 1/2/2/3;
    justify-self: center;
    align-self: center;
}

.card>.card-description {
    grid-area: 2/1/3/3;
    color: var(--c4);
    background-color: var(--c1);
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 0;
    transition: max-height var(--transition-time);
}

.card.open>.card-description {
    max-height: 100vh;
}