/* work-in-progress */

#work-in-progress {
    position: fixed;
    line-height: 5em;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    background-color: rgba(247, 231, 9, 0.85);
    border: solid rgb(23, 59, 80) 1em;
    color: rgb(23, 59, 80);
    margin: 1em;
    display: grid;
    grid-template-columns: 12em 1fr 2em;
    padding: 1em 5em;
    animation: work-in-progress 1200ms ease 200ms 1 both;
}

.work-in-progress-txt {
    text-align: center;
    font-size: 3.5em;
    align-self: center;
}

.work-in-progress-img {
    fill: rgb(23, 59, 80);
}

.work-in-progress-close {
    align-self: start;
    background-color: red;
    color: white;
    border-radius: 0.5em;
    height: 2em;
}

@keyframes work-in-progress {
    from {
        opacity: 0;
        transform: translateY(-200%);
    }
    to {
        opacity: unset;
        transform: none;
    }
}


/*Page Structure*/

.body-content {
    grid-row-gap: 3em;
    grid-column-gap: 1em;
    padding: 1em 11em;
    /* TODO da togliere e capire dove mettere*/
    font-size: 0.7em;
    /* TODO da togliere e capire dove mettere*/
    color: rgb(23, 59, 80);
    display: grid;
    grid-template-areas: 'head head' 'menu page' 'foot foot';
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 97vh;
    background: rgb(195, 217, 181);
}

.body-content>.content-box {
    padding: 0.5em;
}

.body-content>.head {
    grid-area: head;
}

.body-content>.menu-grid-container {
    grid-area: menu;
}

.body-content>.page {
    grid-area: page;
}

.body-content>.foot {
    grid-area: foot;
}

.txt-block {
    text-align: justify;
    padding: 1em;
    border-radius: 0.5em;
    background: rgb(225, 236, 218);
}

.txt-block-container {
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
}

.txt-block.card-title {
    text-align: center;
}

.card-container {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1em;
}


/* inizio - prova: da togliere*/

.txt-block-container,
.txt-block {
    border: solid 1px;
}


/*fine - prova*/


/* HEADER */

.header {
    display: grid;
    grid-row-gap: 1em;
    grid-template-rows: auto auto;
    justify-content: center;
}

.header>.header-el {
    justify-self: center;
}

.header>.header-text {
    justify-self: center;
    align-self: center;
    text-align: center;
}

.header>.logo-container {
    width: 14em;
}


/*MENU*/

.menu {
    display: grid;
    text-align: center;
    grid-auto-flow: row;
}

.menu-el {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 0.5em;
    margin: 0.1em;
    font-size: 1.5em;
}

.menu-el>a {
    padding: 0.3em 0.7em;
}

.menu-el.selected {
    background: rgb(225, 236, 218);
    pointer-events: none;
}

.menu-el:not(.selected):hover {
    color: rgb(23, 59, 80);
    background-color: white;
}


/*FOOTER*/

.ftr {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
}

.ftr>.ftr-el {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.ftr-icon {
    background: #fdffea 1%;
    border: solid 0.1em #846d65;
    border-radius: 0.6em;
    transition: padding 1s;
}

.ftr-el:hover>.ftr-icon {
    background-color: #ffdf50;
}

.icons-attribution {
    text-align: center;
}

.icons-attribution>a {
    display: initial;
}


/*Overrides */

body,
div,
span,
img,
section,
header,
footer,
ul,
li,
a,
h1,
h2,
h3,
h4,
p {
    position: relative;
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    border-color: inherit;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
}