@import url('https://fonts.googleapis.com/css?family=Lato|Vollkorn+SC&display=swap');

/* work-in-progress */

#work-in-progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    background-color: rgba(247, 231, 9, 0.85);
    border: solid rgb(23, 59, 80) 1em;
    color: rgb(23, 59, 80);
    margin: 1em;
    display: grid;
    grid-template-columns: 12em 1fr 2em;
    padding: 1em 5em;
    animation: work-in-progress 1200ms ease 200ms 1 both;
}

.work-in-progress-txt {
    text-align: center;
    font-size: 3.5em;
    align-self: center;
}

.work-in-progress-img {
    fill: rgb(23, 59, 80);
}

.work-in-progress-close {
    align-self: start;
    background-color: red;
    color: white;
    border-radius: 0.5em;
    height: 2em;
}

@keyframes work-in-progress {
    from {
        opacity: 0;
        transform: translateY(-200%);
    }
    to {
        opacity: unset;
        transform: none;
    }
}


/*Page Structure*/

.body-content {
    font-family: 'Lato', sans-serif;
    color: rgb(23, 59, 80);
    display: grid;
    grid-template-areas: 'head head head' '. . .' '. page .' '. . .' 'foot foot foot';
    grid-template-columns: 5em 1fr 5em;
    grid-template-rows: 7.4em 1em 1fr 1em auto;
    min-height: 97vh;
    background: #c0fcea;
}

.body-content>.head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    grid-area: head;
    align-self: start;
    background: linear-gradient(to bottom, #86e5e9, transparent 4%, transparent 96%, #0362a6), linear-gradient(to left, #86e5e9, transparent 1%, #2bb3db 23%, #2bb3db 75%, transparent 99%, #0362a6);
}

.body-content>.page {
    grid-area: page;
    align-self: center;
}

.body-content>.foot {
    grid-area: foot;
    align-self: end;
    background: linear-gradient(to bottom, #86e5e9, transparent 4%, transparent 95%, #0362a6), linear-gradient(to left, #86e5e9, #2bb3db 1%, #2bb3db 99%, #0362a6);
}

.txt-block {
    background: linear-gradient(to bottom, #fef1e0, transparent 3%, transparent 97%, #dbc4b2), linear-gradient(to left, #fef1e0, #fdffea 1%, #fdffea 99%, #dbc4b2);
}


/* HEADER */

.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-content: center;
    max-height: 7.4em;
}

.header>.header-text {
    justify-self: center;
    align-self: center;
    text-align: center;
}

.header-title {
    margin: 0.5em 0 0;
}

.header-description {
    margin: 0 0 1em;
}

.header>.logo-container {
    justify-self: end;
    align-self: center;
}

.header>.menu-grid-position {
    justify-self: start;
    align-self: center;
}

.menu {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.menu-el {
    padding: 0.3em;
    /*background-color: rgba(57, 150, 204, 0.2);
    border: solid 0.1em rgb(23, 59, 80);*/
    color: white;
    background-color: rgb(23, 59, 80);
    border: solid 0.1em white;
    border-radius: 0.5em;
    margin: 0.1em;
    font-size: 0.7em;
}

.menu>.menu-el:first-child {
    grid-area: 1/1/2/3;
}

.menu>.menu-el:last-child {
    grid-area: 3/1/4/3;
}

.menu-el:hover {
    /*background-color: rgba(57, 150, 204, 0.5);*/
    color: rgb(23, 59, 80);
    background-color: white;
    border: solid 0.1em rgb(23, 59, 80);
}


/*Common & Overrides */

body {
    margin: 0;
}

div,
span,
img,
section,
header,
footer,
ul,
li,
a,
h1,
h2,
h3,
h4,
p {
    position: relative;
    display: block;
    box-sizing: border-box;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    text-decoration: none;
    color: inherit;
    border-color: inherit;
}

img {
    max-width: 100%;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Vollkorn SC', serif;
    text-align: center;
}


/*FOOTER*/

.ftr {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
}

.ftr>.ftr-el {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.ftr-icon {
    background: #fdffea 1%;
    border: solid 0.1em #846d65;
    border-radius: 0.6em;
    transition: padding 1s;
}

.ftr-el:hover>.ftr-icon {
    background-color: #ffdf50;
}

.icons-attribution {
    text-align: center;
}

.icons-attribution>a {
    display: initial;
}