 /*Page Structure*/
 /*
 .fixed-bkg {
     display: none;
 }
 
 .body-content {
     background-color: rgb(23, 59, 80);
 }
 */
 
 .txt-block {
     padding: 1em;
 }
 /* HEADER */
 /*
 .header {
     padding: 0.5em;
 }
 */
 
 .header>.header-el {
     padding: 0 0.7em;
 }
 /*
 .header-title {
     padding: 0.5em;
 }
 
 .header-description {
     padding: 0;
     margin-block-start: 0;
     margin-block-end: 0;
     font-size: 0.7em;
 }*/
 /*
 .header>.logo-container {
     width: 7em;
 }
 
 .header>.menu-grid-position {
     width: 7em;
 }
 */
 /*FOOTER*/
 
 .ftr>.ftr-el {
     margin: 0;
     padding: 0.35em;
 }
 
 .ftr-icon {
     width: 3em;
     height: 3em;
     padding: 0.2em;
 }
 
 .ftr-el:hover>.ftr-icon {
     padding: 0.4em;
 }
 
 .ftr-txt {
     padding: 0 0.5em 0 0.2em;
     font-size: 1em;
 }
 
 .icons-attribution {
     font-size: 0.3em;
 }