.body-content {
    grid-gap: 1em;
    padding: 1em 3em;
    color: var(--c3);
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1em 1fr 1em auto;
    min-height: 97vh;
    background-color: var(--c4);
}

.img-separator {
    background-image: url('../../imgs/separator.jpg');
    background-position: center;
}

.body-content>.content-box {
    background-color: var(--c5);
}

.body-content>.head {
    grid-area: 1/1/2/3;
}

.body-content>.header-separator {
    grid-area: 2/1/3/3;
}

.body-content>.menu-grid-container {
    grid-area: 3/1/4/2;
}

.body-content>.page {
    grid-area: 3/2/4/3;
}

.body-content>.footer-separator {
    grid-area: 4/1/5/3;
}

.body-content>.foot {
    grid-area: 5/1/6/3;
}