.ftr {
    grid-auto-flow: column;
    justify-content: space-around;
}

.ftr-el {
    background-color: var(--c1);
    border: solid 1px var(--c4);
    grid-template-columns: auto auto;
    align-items: center;
    margin: 0;
    padding: .5em;
}

.ftr-txt {
    padding: 0 1em 0 .5em;
    font-size: 1.3em;
}

.ftr-el:hover>.icon {
    background-color: var(--c0);
}