.header {
    padding: .5em;
    grid-template-columns: 1fr auto 1fr;
}

.header>.header-el {
    align-self: center;
}

.header>.header-text {
    justify-self: center;
    text-align: center;
}

.header>.logo-container {
    width: 10em;
    justify-self: start;
}

.header>.header-info {
    justify-self: end;
    text-align: right;
}