.menu-grid-container {
    align-content: start;
}

.menu {
    text-align: center;
    grid-auto-flow: row;
}

.menu-el {
    background-color: var(--c1);
    margin: .1em;
    font-size: 1.5em;
}

.menu-el>a {
    padding: .3em .7em;
}

.menu-el.selected {
    color: var(--c0);
    background-color: var(--c3);
    pointer-events: none;
}

.menu-el:not(.selected):hover {
    background-color: var(--c2);
}